@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 32px;
}

h3 {
    font-weight: 600;
}

.wood {
    background-color: var(--color-wood);
    background-image:
        url("/wood-pattern.png");
}

.paper {
    background-color: white;
    background-image:
        linear-gradient(var(--color-paper-solid) 1px, transparent 1px);
    background-size: 32px 32px;
}